/***
Estilos de mmalacosta
***/
@import "style/boostrap/custom";

body{
	overflow-x: hidden;
}
.content-logo{
		@media screen and (max-width: 764px) {
			margin: 0 auto;
			width:350px;
		}
		width:450px;

		.logo{
				float: left;
				img{
					width: 90px;
					@media screen and (max-width: 764px) {
						width:auto;
					}
				}
		}
		.brand{
			float: left;
				.branding{
					font-family: 'PRISTINA' !important;
					font-size: 5.5rem;
					border-bottom:2px solid $orange;
					background: none;
					margin:0;
					padding:0;
					line-height: .8;
					span{
						color:#00cbe8;
					}
					@media screen and (max-width: 764px) {
						font-size: 3.5rem;
						line-height: normal;
					}
				}
				> span{
					font-family: 'Open Sans', sans-serif;
					text-transform: uppercase;
					text-align: center;
					display: block;
					font-size:1.5rem;
					letter-spacing: 5px;
					@media screen and (max-width: 764px) {
						font-size: 1rem;
						letter-spacing: 3px;
					}
				}
		}
}//content-logo
.list-group{
	.active{
		background-color: rgb(60,60,60);
		border-color:$gray;
	}
}
.card{
	margin-bottom:.4rem;
	.card-header{
		background-color: rgb(60,60,60);
		color:white;

	}
	.precio{
		font-size:2rem;
		font-weight: 700;
	}
	.card-title{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.card-text{
		padding: 0;
		margin:0;
	}
	.card-block{
		text-align: center;
		font-family:$font-family-sans-serif;
		padding-bottom:0;
	}
}
#header-container{
	background-image: url('../images/bg_top.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: rgb(60,60,60);
	color:$white;
	.top-contact a{
		color:$white;
		font-weight: 700;
		font-size: 1.5rem;
		@media screen and (max-width: 764px) {
			color:$orange;
			font-size:1rem;
		}
	}
	.branding-section{
		padding-top:2rem;
		padding-bottom: 1.2rem;

	}

	nav{
		font-size:1.2rem;
		font-weight: 700;
		.nav-link{
			&:hover,&:active,&:focus{
				background-color: $orange;
			}
		}
		.nav-link,
		.tel{
				color: white;
				@media screen and (max-width: 764px) {
					i{
						font-size:1.5rem;
					}
				}
			}
	}

	.dropdown{
		.dropdown-item{
			&:active{
				background: $brand-secund;
			}
		}
		@media screen and (max-width: 764px) {
			position:static;
		}
		.dropdown-menu{
			@media screen and (max-width: 764px) {
				width: 100%;
			}
		}
	}
}
section{
	padding:2rem 0;
	.section-heading{
		width: auto;
		margin:0 auto;
		margin-bottom: 1rem;
		font-family: 'PRISTINA' !important;
		font-size:4.5rem;
		font-weight: 700;
		color:$gray-dark;
		&:after{
			display:block;
			content:"";
			width:75%;
			border-bottom:3px solid $orange;
			margin:0 auto;
		}
        @media screen and (max-width: 576px) {
            font-size:2.5rem;
        }
	}
	.section-subtitle{
		font-family:$font-family-sans-serif;
		font-weight: 500;
		display:block;
		width:100%;
		text-align:center;
		margin-bottom:1rem;
		color: #000;
        @media screen and (max-width: 576px) {
            font-size:1.2rem;
        }
	}

}

#electronica{
	#prodcutosCard{
		margin-bottom: 0;
	}
}
.product-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .product-hover {
                background: fade-out($brand-primary, .5);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 1;
                }
                .product-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
		}
.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
				position: relative;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
				width: inherit;
				position: absolute;
        padding: 100px 0;
				left:0;
				right:0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            font-family:$font-family-sans-serif;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-dark;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-dark;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }
        }
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}
/*Estylos para article - paginas*/
article{
	.titulo{
		margin: 1.5rem auto;
		margin-top:3.5rem;
		font-family: 'PRISTINA' !important;
		font-size:3.5rem;
		font-weight: 700;
		color:$gray-dark;
		&:after{
			display:block;
			content:"";
			width:75%;
			border-bottom:3px solid $orange;
			margin:0 auto;
		}
        @media screen and (max-width: 576px) {
            font-size:2.5rem;
        }

	}
	.subtitulo{
		font-size: 2rem;
		font-weight: 300;
		margin-bottom: 3.5rem;
        @media screen and (max-width: 576px) {
            font-size:1.5rem;
        }
	}
}
.call-to-action{
	background-color: $orange;
	margin-top: 3.5rem;
	padding:25px 0;
	color:$white;
	text-align: center;
	font-size:1.3rem;
	p{
		margin-bottom: 0;
		line-height: normal;
	}
	.contacto{
		margin-top:1.5rem;
	}

}
/*stlos del footer*/
footer{
	//border-top:1px solid $brand-primary;
	background-color: rgb(60,60,60);
	padding: 1.5rem 0;
	color:$white;
	.content-logo{
		width: 245px;
		.logo img{
			width: 90%
		}
		.brand{
			.branding{
				font-size:2.7rem;
				border-bottom:1px solid $orange;
			}
			> span{
				font-size: .8rem;
			}
		}

	}
	.text-footer{
		span{
			display: block;


		}
	}
}
