/***
Estilos de mmalacosta
***/
@import "style/boostrap/custom";
@import "style/boostrap/mixins";
@import "style/boostrap/buttons";

body{
	overflow-x: hidden;
	font-family: $font-family-sans-serif;
}


.content-logo{
		width:450px;
		display: flex;
		align-items: center;
		position: relative;
		@media screen and (max-width: 764px) {
			margin: 0 auto;
			width:350px;
		}
		
		a {
			position: absolute;
			width: 100%;
			display: block;
			left: 0;
			top:0;
			bottom: 0;
		}
		
		.logo{
				img{
					width: 80px;
					margin-right: 15px;
					@media screen and (max-width: 764px) {
						width:auto;
					}
				}
		}
		.brand{
				.branding{
					font-family: 'PRISTINA' !important;
					font-size: 3.5rem;
					border-bottom:2px solid $orange;
					background: none;
					margin:0;
					padding:0;
					line-height: .8;
					span{
						color:#00cbe8;
					}
					@media screen and (min-width: 992px) {
						font-size: 4rem;
					}
				}
				> span{
					font-family: 'Open Sans', sans-serif;
					text-transform: uppercase;
					text-align: center;
					display: block;
					font-size:1rem;
					letter-spacing: 3px;
					@media screen and (min-width: 992px) {
						font-size: 1.2rem;
					}
				}
		}
		&.bottom {
			max-width: 350px;
			margin-bottom: 2rem;
			.logo{
				img{
					width: auto;
					@media screen and (min-width: 992px) {
						width:70px;
					}
				}

			}
			.brand{
					.branding{
						font-size: 3.5rem;
						
					}
					> span{
						font-size:.8rem;
						letter-spacing: 5px;
					}
			}
		}
}//content-logo
.list-group{
	.active{
		background-color: rgb(60,60,60);
		border-color:$gray;
	}
}
.card{
	.precio{
		font-size:2rem;
		font-weight: 700;
	}
	.card-title{
		font-weight: 700;
	}
	
}
#header-container{
	background-image: url('../images/bg_top.png');
	background-repeat: no-repeat;
	background-position: right top;
	//background-size: cover;
	background-color: rgb(60,60,60);
	color:$white;
	.contact-top{
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
		font-size:1rem;
		@media screen and (min-width: 766px) {
			justify-content: flex-end;
			align-content: flex-end;	
			text-align: right;
			margin-left: auto;
			margin-right:0;
			font-size: 1.15rem;	
			.horario {
				//background-color: $orange;
				//text-align: center;
				//border-radius: 7px;
				//padding: 15px;
				//margin-top: 10px;
			}
		}	
		a{
			color:$white;
		}

	} 
	.branding-section{
		padding-top:2rem;
		padding-bottom: 1.2rem;
	}

	nav{
		&.navbar{
			padding: 0;
			.navbar-nav {
				flex-basis: 60%;
				flex-grow:2;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				@media screen and (min-width: 764px) {
					justify-content: flex-start;
				}
				.nav-item{
					color:$white;
					&.active {
						background: darken( $brand-primary, 10%);
						color: $white;
						
					}
				}
				.nav-link{
					font-size: .8rem;
					color: inherit;
					&:hover,&:active,&:focus{
						background-color: $orange;
						color: $white;
					}
					&.inicio, &.productos, &.ubicacion, &.contacto, &.llamanos{
						&::before{
							font-family: 'icomoon';
							width: 100%;
							display: block;
							font-size: 2em;
							text-align: center;
						}
						
					}
					&.inicio::before {	content: "\e904";	}
					&.productos::before {	content: "\e90a";	}
					&.ubicacion::before{	content:"\e907";	}
					&.contacto::before{ content:"\e909"; }
					&.llamanos::before{ content:"\e908"; }
		
					@media screen and (min-width: 764px) {
						font-size: 1rem;
						padding: 1em;
						//margin-right: 15px;
						&.inicio, &.productos, &.ubicacion, &.contacto, &.llamanos{
							&::before{
								content: "";
							}
						}
					}
				} //nav-link



				
			}//.navbar-nav
			.navbar-text {
				flex-basis: 40%;
				text-align: right;
				color: $white;
				a{
					margin:0 7px;
					color:white;
					text-decoration: none;
					display: inline-block;
					&:hover{
						@extend .btn-outline-secondary;
						color: $white;
					}
				}
				@media screen and (max-width: 764px) {
					display: none;	
				}	
			}
		}
		
		
		
      
		
		
	}


}
section, article{
	padding:3.5rem 0;
	.section-heading, .title{
		width: auto;
		margin:0 auto;
		margin-bottom: 2.5rem;
		font-size: $h1-font-size;
		font-weight: 700;
		color: $dark;
		text-transform: uppercase;
		position: relative;
		&:after{
			position: relative;
			display:block;
			content:"";
			width:25%;
			border-bottom:5px dotted $orange;
			margin:0 auto;
			bottom: -5px;
		}
        @media screen and (max-width: 576px) {
            font-size:2rem;
        }
	}
	.section-subtitle {
		display:block;
		width:70%;
		text-align:center;
		margin-top:0;
		margin:0 auto 3rem ;
		color: $gray-light;
		font-size: $h2-font-size;
        @media screen and (max-width: 576px) {
            font-size:1.2rem;
        }
	}

}

/*Estylos para article - paginas*/
.cta-bottom{
	margin-top: 50px;
	margin-bottom: -30px;
	.cta-bottom-card {
		background-color: $brand-secund;
		color: $white;
		display: flex;
		box-shadow: 0px 25px 30px rgba($brand-secund, 0.3);
    	padding: 20px 20px;
		border-radius: 20px;
		height: 100%;
		a {
			color: $dark;
			font-weight: bold;
		}
		.cta-bottom-card-title {
			font-weight: 700;
			margin-bottom: 1.2rem;
			font-size: 1.5rem;
		}
	}
}
/*stlos del footer*/
footer{
	//border-top:1px solid $brand-primary;
	background-color: $gray-dark;
	color:$white;
	
	h3,h4,h5{
		font-size: 1.2rem;
		font-weight: 700;
		color: $gray-400;
		color: $brand-primary;
		margin-bottom: 1.5rem;

	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 10px;
			
			a {
				color: $white;
				transition: all .2s ease-in;
				//font-size: 14px;
				&:hover {
					text-decoration: none;
					color: $brand-secund;
					margin-left: 5px;
				}
			}
		}
	}
	a {
		color: $white;
		&:hover{
			color: $brand-secund;
			text-decoration: none;
		}
	}
	.text-footer{
		span{
			//display: block;


		}
	}
	.copyright{
		background: darken($dark , 10%);
		font-size: 14px;
		.icon-heart {
			color: $red;
		}
		.codipix {
			color: $brand-secund;
			font-weight: bold;
		}
	}
}
