/***
Estilos de mmalacosta
***/
body {
  overflow-x: hidden;
}

.content-logo {
  width: 450px;
}

@media screen and (max-width: 764px) {
  .content-logo {
    margin: 0 auto;
    width: 350px;
  }
}

.content-logo .logo {
  float: left;
}

.content-logo .logo img {
  width: 90px;
}

@media screen and (max-width: 764px) {
  .content-logo .logo img {
    width: auto;
  }
}

.content-logo .brand {
  float: left;
}

.content-logo .brand .branding {
  font-family: 'PRISTINA' !important;
  font-size: 5.5rem;
  border-bottom: 2px solid #ff8400;
  background: none;
  margin: 0;
  padding: 0;
  line-height: .8;
}

.content-logo .brand .branding span {
  color: #00cbe8;
}

@media screen and (max-width: 764px) {
  .content-logo .brand .branding {
    font-size: 3.5rem;
    line-height: normal;
  }
}

.content-logo .brand > span {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

@media screen and (max-width: 764px) {
  .content-logo .brand > span {
    font-size: 1rem;
    letter-spacing: 3px;
  }
}

.list-group .active {
  background-color: #3c3c3c;
  border-color: #464a4c;
}

.card {
  margin-bottom: .4rem;
}

.card .card-header {
  background-color: #3c3c3c;
  color: white;
}

.card .precio {
  font-size: 2rem;
  font-weight: 700;
}

.card .card-title {
  padding-bottom: 0;
  margin-bottom: 0;
}

.card .card-text {
  padding: 0;
  margin: 0;
}

.card .card-block {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0;
}

#header-container {
  background-image: url("../images/bg_top.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #3c3c3c;
  color: #fff;
}

#header-container .top-contact a {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
}

@media screen and (max-width: 764px) {
  #header-container .top-contact a {
    color: #ff8400;
    font-size: 1rem;
  }
}

#header-container .branding-section {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}

#header-container nav {
  font-size: 1.2rem;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  #header-container nav {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  #header-container nav {
    font-size: 1rem;
    font-weight: normal;
  }
}

#header-container nav .nav-link:hover, #header-container nav .nav-link:active, #header-container nav .nav-link:focus {
  background-color: #ff8400;
}

#header-container nav .nav-link,
#header-container nav .tel {
  color: white;
}

@media screen and (max-width: 764px) {
  #header-container nav .nav-link i,
  #header-container nav .tel i {
    font-size: 1.5rem;
  }
}

#header-container .dropdown .dropdown-item:active {
  background: #ff8400;
}

@media screen and (max-width: 764px) {
  #header-container .dropdown {
    position: static;
  }
}

@media screen and (max-width: 764px) {
  #header-container .dropdown .dropdown-menu {
    width: 100%;
  }
}

section {
  padding: 2rem 0;
}

section .section-heading {
  width: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  font-family: 'PRISTINA' !important;
  font-size: 4.5rem;
  font-weight: 700;
  color: #292b2c;
}

section .section-heading:after {
  display: block;
  content: "";
  width: 75%;
  border-bottom: 3px solid #ff8400;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  section .section-heading {
    font-size: 2.5rem;
  }
}

section .section-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
}

@media screen and (max-width: 576px) {
  section .section-subtitle {
    font-size: 1.2rem;
  }
}

#electronica #prodcutosCard {
  margin-bottom: 0;
}

.product-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.product-link .product-hover {
  background: rgba(0, 203, 232, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

.product-link .product-hover:hover {
  opacity: 1;
}

.product-link .product-hover .product-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}

.product-link .product-hover .product-hover-content i {
  margin-top: -12px;
}

.product-link .product-hover .product-hover-content h3,
.product-link .product-hover .product-hover-content h4 {
  margin: 0;
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
  position: relative;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  box-shadow: none;
  border: none;
  min-height: 100%;
  width: inherit;
  position: absolute;
  padding: 100px 0;
  left: 0;
  right: 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 16px;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #292b2c;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}

.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #292b2c;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}

.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/*Estylos para article - paginas*/
article .titulo {
  margin: 1.5rem auto;
  margin-top: 3.5rem;
  font-family: 'PRISTINA' !important;
  font-size: 4.5rem;
  font-weight: 700;
  color: #292b2c;
}

article .titulo:after {
  display: block;
  content: "";
  width: 75%;
  border-bottom: 3px solid #ff8400;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  article .titulo {
    font-size: 2.5rem;
  }
}

article .subtitulo {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 576px) {
  article .subtitulo {
    font-size: 1.5rem;
  }
}

.call-to-action {
  background-color: #ff8400;
  margin-top: 3.5rem;
  padding: 25px 0;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}

.call-to-action p {
  margin-bottom: 0;
  line-height: normal;
}

.call-to-action .contacto {
  margin-top: 1.5rem;
}

/*stlos del footer*/
footer {
  background-color: #3c3c3c;
  padding: 1.5rem 0;
  color: #fff;
  /* .content-logo{
		width: 245px;
		.logo img{
			width: 90%
		}
		.brand{
			.branding{
				font-size:2.7rem;
				border-bottom:1px solid $orange;
			}
			> span{
				font-size: .8rem;
			}
		}

	} */
}

footer .text-footer span {
  display: block;
}
